@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
    box-sizing: border-box;
    -webkit-font-smoothing: inherit;
  }

  body {
    @apply bg-background text-foreground;
  }

  /* Improve contrast for accessibility */
  .text-gray-400 {
    color: rgb(163 163 163);
  }

  /* Visible focus state */
  *:focus-visible {
    @apply outline-2 outline-offset-2 outline-blue-500;
  }

  /* Scrollbar style (Chrome, Safari, Edge) */
  ::-webkit-scrollbar {
    @apply w-2;
  }

  ::-webkit-scrollbar-track {
    @apply bg-[#161616];
  }

  ::-webkit-scrollbar-thumb {
    @apply rounded-full bg-[#161616];
  }

  @media (prefers-color-scheme: dark) {
    ::-webkit-scrollbar-track {
      @apply bg-[#141414];
    }

    ::-webkit-scrollbar-thumb {
      @apply bg-neutral-800;
    }
  }
}
